#header {
    display: grid;
    grid-template-columns: 150px 1fr 300px;
    max-height: 167px;
  
}

#quote {
    grid-column-start: 2;
    padding: 10px 20px;
}

#tools {
    grid-column-start: 3;
    /* padding: 20px; */
    display: flex; 
    align-items: center;
    flex-direction: column;
}

#logoBackdrop {
    background-color: white;
}

img {
    display: inline;
    margin: 5px;
}

p {
    font-style: italic;
}