#header {
    display: grid;
    grid-template-columns: 150px 1fr 300px;
    max-height: 150px;
  
}

#quote {
    grid-column-start: 2;
    padding: 10px 20px;
}

#tools {
    grid-column-start: 3;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

img {
    display: inline;
    margin: 0;
}

p {
    font-style: italic;
}