
form {
    
    width: 30%;
    height: 250px;
    margin: 20px left;
    padding: 30px;
    border-radius: 2px;
    position: absolute;
}
.aside{
    width: -30%;
    height: 250px;
    margin: 80%  right;
    padding: 30px;
    border-radius: 2px;
    float: right;
    margin-bottom: 10px;
    margin-left:'-80px',
}